body {
    text-align: center;
}

h3::first-letter {
    color: red;
    font-size: 35px;
}

::marker {
    color: yellow;
    font-size: 25px;
}

ul.liste {
    display: inline-block;
    text-align: left;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: green;
}

a:hover {
    color: purple;
    border: 5px solid purple;
}

a:active {
    color: blue;
}