div {
    background-color: red;
    color: cyan;
}

#birincioncelik {
    background-color: darkgray;
}

#birincioncelik p {
    color: white;
}

#birincioncelik p strong {
    color: tomato;
    font-size: 10px;
    /* Alttaki etikette !important olduğu için kalıtımsal olarak bu stili uygulaması gerekirken diğerini uyguladı. */
}

strong {
    color: purple !important;
    font-size: 18px !important;
}

.ikincioncelik {
    background-color: magenta;
}

.ikincioncelik {
    color: black;
}