div {
    background-color: red;
    color: cyan;
}

#birincioncelik {
    background-color: darkgray;
}

#birincioncelik p {
    color: white;
}

#birincioncelik p strong {
    color: tomato;
    /* Alttaki etikette !important olduğu için kalıtımsal olarak bu stili uygulaması gerekirken diğerini uyguladı. */
}

strong {
    color: purple !important;
}

.ikincioncelik {
    background-color: magenta;
}

.ikincioncelik {
    color: black;
}