* {
    margin: 0;
    /* Daha iyi anlayabilmek için browser-default olarak gelen tüm marginleri kaldırdım. */
}

h1, h2 {
    color: white;
    text-align: center;
}

#birincialan {
    background-color: #2E2C6F;
    margin: 50px 30px 20px;
}

#ikincialan {
    background-color: #FB957C;
    margin: 50px auto;
    width: 500px;
}